/* .App {
  text-align: center;
} */
/* *{
  outline:2px dotted red;
} */

body{
  background-color: #222;

}

.wrapper{
  width: 100%; 
  /* height: 750px; */
  /* background-color: silver; */
  /* margin: 0px auto; */
  /* padding-top: 25px;  */
  display: flex;
  align-items: center;
  justify-content: center;
  margin:auto;

}
/* #header{
  min-height: 150px;
  background-color: green;
  margin: 15px; 
} */

/* .main_content{
  min-height: 475px;
  width: 760px; 
  background-color: red;
  display: inline-block; 
  margin-left: 15px; 
} */

/* #footer{
  min-height: 150px;
  background-color: green;
  margin: 15px; 
} */
.textBox{
  width: 900px;
  height: 70px;
  background-color: #fff3;
  color: white;
  position: relative;
  bottom: 85px;
}
.img{
  width: 900px; 
  height: 450px;
  /* padding: 25px 50px 75px 100px; */
  /* border: 1px solid black;
  display: inline-block; */
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container{
  background-color: gray;
  border: 2px solid;
  
}

.img{
  background-color: green;
  border: 1px solid black;
  display: inline-block;
  height: 500px;
  width: 500px;
}

/* div with a background color  */
